# Spaceship Titanic

## Data Exploration

### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Load Datas

In [2]:
def data_loader (train_path , test_path , index_col) -> (pd.DataFrame , pd.DataFrame) :
    
    return (pd.read_csv(train_path , index_col = index_col) , pd.read_csv(test_path , index_col = index_col))

In [3]:
train_df , test_df = data_loader(train_path = '../datasets/train.csv' , test_path = '../datasets/test.csv' , index_col = 'PassengerId')

In [4]:
train_df.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
PassengerId,,,,,,,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [5]:
test_df.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
PassengerId,,,,,,,,,,,,
0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [6]:
train_df.columns

Index(['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP',
       'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name',
       'Transported'],
      dtype='object')

In [7]:
train_df.info

<bound method DataFrame.info of             HomePlanet CryoSleep     Cabin    Destination   Age    VIP  \
PassengerId
0001_01         Europa     False     B/0/P    TRAPPIST-1e  39.0  False
0002_01          Earth     False     F/0/S    TRAPPIST-1e  24.0  False
0003_01         Europa     False     A/0/S    TRAPPIST-1e  58.0   True
0003_02         Europa     False     A/0/S    TRAPPIST-1e  33.0  False
0004_01          Earth     False     F/1/S    TRAPPIST-1e  16.0  False
...                ...       ...       ...            ...   ...    ...
9276_01         Europa     False    A/98/P    55 Cancri e  41.0   True
9278_01          Earth      True  G/1499/S  PSO J318.5-22  18.0  False
9279_01          Earth     False  G/1500/S    TRAPPIST-1e  26.0  False
9280_01         Europa     False   E/608/S    55 Cancri e  32.0  False
9280_02         Europa     False   E/608/S    TRAPPIST-1e  44.0  False

             RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  \
PassengerId
0001_01              0.0        0.0           0.0     0.0     0.0
0002_01            109.0        9.0          25.0   549.0    44.0
0003_01             43.0     3576.0           0.0  6715.0    49.0
0003_02              0.0     1283.0         371.0  3329.0   193.0
0004_01            303.0       70.0         151.0   565.0     2.0
...                  ...        ...           ...     ...     ...
9276_01              0.0     6819.0           0.0  1643.0    74.0
9278_01              0.0        0.0           0.0     0.0     0.0
9279_01              0.0        0.0        1872.0     1.0     0.0
9280_01              0.0     1049.0           0.0   353.0  3235.0
9280_02            126.0     4688.0           0.0     0.0    12.0

                          Name  Transported
PassengerId
0001_01        Maham Ofracculy        False
0002_01           Juanna Vines         True
0003_01          Altark Susent        False
0003_02           Solam Susent        False
0004_01      Willy Santantines         True
...                        ...          ...
9276_01      Gravior Noxnuther        False
9278_01        Kurta Mondalley        False
9279_01           Fayey Connon         True
9280_01       Celeon Hontichre        False
9280_02       Propsh Hontichre         True

[8693 rows x 13 columns]>

In [8]:
test_df.info

<bound method DataFrame.info of             HomePlanet CryoSleep     Cabin    Destination   Age    VIP  \
PassengerId
0013_01          Earth      True     G/3/S    TRAPPIST-1e  27.0  False
0018_01          Earth     False     F/4/S    TRAPPIST-1e  19.0  False
0019_01         Europa      True     C/0/S    55 Cancri e  31.0  False
0021_01         Europa     False     C/1/S    TRAPPIST-1e  38.0  False
0023_01          Earth     False     F/5/S    TRAPPIST-1e  20.0  False
...                ...       ...       ...            ...   ...    ...
9266_02          Earth      True  G/1496/S    TRAPPIST-1e  34.0  False
9269_01          Earth     False       NaN    TRAPPIST-1e  42.0  False
9271_01           Mars      True   D/296/P    55 Cancri e   NaN  False
9273_01         Europa     False   D/297/P            NaN   NaN  False
9277_01          Earth      True  G/1498/S  PSO J318.5-22  43.0  False

             RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  \
PassengerId
0013_01              0.0        0.0           0.0     0.0     0.0
0018_01              0.0        9.0           0.0  2823.0     0.0
0019_01              0.0        0.0           0.0     0.0     0.0
0021_01              0.0     6652.0           0.0   181.0   585.0
0023_01             10.0        0.0         635.0     0.0     0.0
...                  ...        ...           ...     ...     ...
9266_02              0.0        0.0           0.0     0.0     0.0
9269_01              0.0      847.0          17.0    10.0   144.0
9271_01              0.0        0.0           0.0     0.0     0.0
9273_01              0.0     2680.0           0.0     0.0   523.0
9277_01              0.0        0.0           0.0     0.0     0.0

                         Name
PassengerId
0013_01       Nelly Carsoning
0018_01        Lerome Peckers
0019_01       Sabih Unhearfus
0021_01      Meratz Caltilter
0023_01       Brence Harperez
...                       ...
9266_02           Jeron Peter
9269_01         Matty Scheron
9271_01           Jayrin Pore
9273_01        Kitakan Conale
9277_01      Lilace Leonzaley

[4277 rows x 12 columns]>

In [9]:
def show_columns_counts(df) :
    
    for col in df.columns :
    
        print(df[col].value_counts() , end = '\n' + '-' * 20 + '\n')

In [10]:
show_columns_counts(train_df)

HomePlanet
Earth     4602
Europa    2131
Mars      1759
Name: count, dtype: int64
--------------------
CryoSleep
False    5439
True     3037
Name: count, dtype: int64
--------------------
Cabin
G/734/S     8
G/109/P     7
B/201/P     7
G/1368/P    7
G/981/S     7
           ..
G/556/P     1
E/231/S     1
G/545/S     1
G/543/S     1
F/947/P     1
Name: count, Length: 6560, dtype: int64
--------------------
Destination
TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: count, dtype: int64
--------------------
Age
24.0    324
18.0    320
21.0    311
19.0    293
23.0    292
       ...
72.0      4
78.0      3
79.0      3
76.0      2
77.0      2
Name: count, Length: 80, dtype: int64
--------------------
VIP
False    8291
True      199
Name: count, dtype: int64
--------------------
RoomService
0.0       5577
1.0        117
2.0         79
3.0         61
4.0         47
          ...
1612.0       1
2598.0       1
632.0        1
378.0        1
745.0        1
Name: count, Length: 1273, dtype: int64
--------------------
FoodCourt
0.0       5456
1.0        116
2.0         75
3.0         53
4.0         53
          ...
3846.0       1
5193.0       1
312.0        1
827.0        1
4688.0       1
Name: count, Length: 1507, dtype: int64
--------------------
ShoppingMall
0.0       5587
1.0        153
2.0         80
3.0         59
4.0         45
          ...
3627.0       1
2074.0       1
871.0        1
742.0        1
1872.0       1
Name: count, Length: 1115, dtype: int64
--------------------
Spa
0.0       5324
1.0        146
2.0        105
5.0         53
3.0         53
          ...
273.0        1
2581.0       1
2948.0       1
3778.0       1
1643.0       1
Name: count, Length: 1327, dtype: int64
--------------------
VRDeck
0.0       5495
1.0        139
2.0         70
3.0         56
5.0         51
          ...
408.0        1
876.0        1
2891.0       1
2102.0       1
3235.0       1
Name: count, Length: 1306, dtype: int64
--------------------
Name
Gollux Reedall        2
Elaney Webstephrey    2
Grake Porki           2
Sus Coolez            2
Apix Wala             2
                     ..
Jamela Griffy         1
Hardy Griffy          1
Salley Mckinn         1
Mall Frasp            1
Propsh Hontichre      1
Name: count, Length: 8473, dtype: int64
--------------------
Transported
True     4378
False    4315
Name: count, dtype: int64
--------------------

In [11]:
show_columns_counts(test_df)

HomePlanet
Earth     2263
Europa    1002
Mars       925
Name: count, dtype: int64
--------------------
CryoSleep
False    2640
True     1544
Name: count, dtype: int64
--------------------
Cabin
G/160/P     8
D/273/S     7
B/31/P      7
G/748/S     7
E/228/S     7
           ..
E/236/S     1
F/650/S     1
G/566/P     1
G/557/S     1
G/1498/S    1
Name: count, Length: 3265, dtype: int64
--------------------
Destination
TRAPPIST-1e      2956
55 Cancri e       841
PSO J318.5-22     388
Name: count, dtype: int64
--------------------
Age
18.0    176
22.0    163
19.0    162
20.0    160
24.0    158
       ...
70.0      2
79.0      2
68.0      2
78.0      1
77.0      1
Name: count, Length: 79, dtype: int64
--------------------
VIP
False    4110
True       74
Name: count, dtype: int64
--------------------
RoomService
0.0       2726
1.0         68
2.0         34
3.0         28
4.0         24
          ...
1454.0       1
6438.0       1
2647.0       1
1338.0       1
147.0        1
Name: count, Length: 842, dtype: int64
--------------------
FoodCourt
0.0        2690
1.0          59
2.0          30
4.0          22
3.0          21
           ...
842.0         1
1624.0        1
20809.0       1
6564.0        1
2680.0        1
Name: count, Length: 902, dtype: int64
--------------------
ShoppingMall
0.0       2744
1.0         72
3.0         35
2.0         32
4.0         24
          ...
936.0        1
508.0        1
2183.0       1
2451.0       1
3851.0       1
Name: count, Length: 715, dtype: int64
--------------------
Spa
0.0       2611
1.0         72
2.0         43
3.0         29
4.0         27
          ...
2882.0       1
2061.0       1
3745.0       1
3560.0       1
168.0        1
Name: count, Length: 833, dtype: int64
--------------------
VRDeck
0.0       2757
1.0         72
2.0         38
3.0         33
7.0         23
          ...
1004.0       1
1297.0       1
1397.0       1
2019.0       1
104.0        1
Name: count, Length: 796, dtype: int64
--------------------
Name
Cints Erle          2
Evendy Buchansen    2
Berta Barnolderg    2
Cocors Cola         2
Lyney Sellahaney    2
                   ..
Taurak Unklible     1
Brita Rushing       1
Puffs Sames         1
Alie Hortez         1
Lilace Leonzaley    1
Name: count, Length: 4176, dtype: int64
--------------------

In [12]:
print(train_df.isna().sum())
print(test_df.isna().sum())

HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

## Data Preprocessing

In [138]:
def data_preprocess (df : pd.DataFrame) -> pd.DataFrame :
    
    df['Age'] = df['Age'].fillna(df['Age'].mean())
    df['Fare'] = df['Fare'].fillna(df['Fare'].mean())
    df['Embarked'] = df['Embarked'].fillna('S')
    
    df = df.drop(columns = ['Name'])
    
    return df

In [139]:
def cabin_extraction (df : pd.DataFrame) -> pd.DataFrame :
    
    # Sample data
    data = df['Cabin']

    # Split the data into two new Series
    letters = data.str.extract(r'([A-Za-z]+)', expand=False)
    numbers = data.str.extract(r'(\d+)', expand=False).astype(float)

    # Fill NaNs in the letters series with the mode
    mode_letter = 'X'  # mode() returns a Series, we take the first value
    letters = letters.fillna(mode_letter)

    # Fill NaNs in the numbers series with 0
    numbers = numbers.fillna(0).astype(int)

    df['Cabin'] = letters
    df['Cabin_no'] = numbers
    
    return df

In [140]:
train_df = cabin_extraction(data_preprocess(train_df))
test_df = cabin_extraction(data_preprocess(test_df))

In [141]:
show_columns_counts(train_df)
show_columns_counts(test_df)

Survived
0    549
1    342
Name: count, dtype: int64
--------------------
Pclass
3    491
1    216
2    184
Name: count, dtype: int64
--------------------
Sex
male      577
female    314
Name: count, dtype: int64
--------------------
Age
29.699118    177
24.000000     30
22.000000     27
18.000000     26
28.000000     25
            ...
36.500000      1
55.500000      1
0.920000       1
23.500000      1
74.000000      1
Name: count, Length: 89, dtype: int64
--------------------
SibSp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: count, dtype: int64
--------------------
Parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64
--------------------
Ticket
347082      7
CA. 2343    7
1601        7
3101295     6
CA 2144     6
           ..
9234        1
19988       1
2693        1
PC 17612    1
370376      1
Name: count, Length: 681, dtype: int64
--------------------
Fare
8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
           ..
35.0000     1
28.5000     1
6.2375      1
14.0000     1
10.5167     1
Name: count, Length: 248, dtype: int64
--------------------
Cabin
X    687
C     59
B     47
D     33
E     32
A     15
F     13
G      4
T      1
Name: count, dtype: int64
--------------------
Embarked
S    646
C    168
Q     77
Name: count, dtype: int64
--------------------
Cabin_no
0      691
33       7
6        6
101      5
20       5
      ...
111      1
21       1
12       1
14       1
148      1
Name: count, Length: 93, dtype: int64
--------------------
Pclass
3    218
1    107
2     93
Name: count, dtype: int64
--------------------
Sex
male      266
female    152
Name: count, dtype: int64
--------------------
Age
30.27259    86
24.00000    17
21.00000    17
22.00000    16
30.00000    15
            ..
76.00000     1
28.50000     1
22.50000     1
62.00000     1
38.50000     1
Name: count, Length: 80, dtype: int64
--------------------
SibSp
0    283
1    110
2     14
3      4
4      4
8      2
5      1
Name: count, dtype: int64
--------------------
Parch
0    324
1     52
2     33
3      3
4      2
9      2
6      1
5      1
Name: count, dtype: int64
--------------------
Ticket
PC 17608    5
CA. 2343    4
113503      4
PC 17483    3
220845      3
           ..
349226      1
2621        1
4133        1
113780      1
2668        1
Name: count, Length: 363, dtype: int64
--------------------
Fare
7.7500     21
26.0000    19
8.0500     17
13.0000    17
10.5000    11
           ..
8.7125      1
7.8208      1
8.5167      1
78.8500     1
22.3583     1
Name: count, Length: 170, dtype: int64
--------------------
Cabin
X    327
C     35
B     18
D     13
E      9
F      8
A      7
G      1
Name: count, dtype: int64
--------------------
Embarked
S    270
C    102
Q     46
Name: count, dtype: int64
--------------------
Cabin_no
0      329
34       5
57       4
78       3
6        3
45       3
46       3
31       3
89       2
80       2
55       2
52       2
4        2
10       2
39       2
51       2
28       2
116      2
11       2
22       2
101      2
21       2
23       2
37       1
86       1
26       1
69       1
32       1
2        1
18       1
71       1
60       1
50       1
36       1
24       1
41       1
7        1
40       1
38       1
106      1
85       1
33       1
97       1
132      1
29       1
130      1
43       1
53       1
54       1
61       1
19       1
63       1
15       1
30       1
58       1
62       1
9        1
105      1
Name: count, dtype: int64
--------------------

## AutoGluon

In [142]:
from autogluon.tabular import TabularPredictor

In [143]:
label = 'Survived'

In [144]:
predictor = TabularPredictor(label = label).fit(train_df)

No path specified. Models will be saved in: "AutogluonModels\ag-20241104_125458"
Verbosity: 2 (Standard Logging)
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.11.10
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.26100
CPU Count:          16
Memory Avail:       2.01 GB / 15.28 GB (13.2%)
Disk Space Avail:   421.24 GB / 952.03 GB (44.2%)
===================================================
No presets specified! To achieve strong results with AutoGluon, it is recommended to use the available presets.
	Recommended Presets (For more details refer to https://auto.gluon.ai/stable/tutorials/tabular/tabular-essentials.html#presets):
	presets='best_quality'   : Maximize accuracy. Default time_limit=3600.
	presets='high_quality'   : Strong accuracy with fast inference speed. Default time_limit=3600.
	presets='good_quality'   : Good accuracy with very fast inference speed. Default time_limit=3600.
	presets='medium_quality' : Fast training time, ideal for initial prototyping.
Beginning AutoGluon training ...
AutoGluon will save models to "AutogluonModels\ag-20241104_125458"
Train Data Rows:    891
Train Data Columns: 10
Label Column:       Survived
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  [0, 1]
	If 'binary' is not the correct problem_type, please manually specify the problem_type parameter during Predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression', 'quantile'])
Problem Type:       binary
Preprocessing data ...
Selected class <--> label mapping:  class 1 = 1, class 0 = 0
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    2061.06 MB
	Train Data (Original)  Memory Usage: 0.24 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 1 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])  : 2 | ['Age', 'Fare']
		('int', [])    : 4 | ['Pclass', 'SibSp', 'Parch', 'Cabin_no']
		('object', []) : 4 | ['Sex', 'Ticket', 'Cabin', 'Embarked']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  : 3 | ['Ticket', 'Cabin', 'Embarked']
		('float', [])     : 2 | ['Age', 'Fare']
		('int', [])       : 4 | ['Pclass', 'SibSp', 'Parch', 'Cabin_no']
		('int', ['bool']) : 1 | ['Sex']
	0.1s = Fit runtime
	10 features in original data used to generate 10 features in processed data.
	Train Data (Processed) Memory Usage: 0.04 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.07s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.2, Train Rows: 712, Val Rows: 179
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': {},
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, 'GBMLarge'],
	'CAT': {},
	'XGB': {},
	'FASTAI': {},
	'RF': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'KNN': [{'weights': 'uniform', 'ag_args': {'name_suffix': 'Unif'}}, {'weights': 'distance', 'ag_args': {'name_suffix': 'Dist'}}],
}
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ...
	0.7095	 = Validation score   (accuracy)
	0.01s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: KNeighborsDist ...
	0.7318	 = Validation score   (accuracy)
	0.0s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: LightGBMXT ...
	0.7989	 = Validation score   (accuracy)
	0.64s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: LightGBM ...
	0.8268	 = Validation score   (accuracy)
	0.6s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: RandomForestGini ...
	0.7989	 = Validation score   (accuracy)
	0.51s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: RandomForestEntr ...
	0.7877	 = Validation score   (accuracy)
	0.5s	 = Training   runtime
	0.04s	 = Validation runtime
Fitting model: CatBoost ...
	0.8212	 = Validation score   (accuracy)
	29.23s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: ExtraTreesGini ...
	0.7765	 = Validation score   (accuracy)
	0.59s	 = Training   runtime
	0.04s	 = Validation runtime
Fitting model: ExtraTreesEntr ...
	0.7877	 = Validation score   (accuracy)
	0.6s	 = Training   runtime
	0.04s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
No improvement since epoch 9: early stopping
	0.8324	 = Validation score   (accuracy)
	0.84s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: XGBoost ...
	0.8156	 = Validation score   (accuracy)
	0.51s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	0.8101	 = Validation score   (accuracy)
	3.91s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: LightGBMLarge ...
	0.8324	 = Validation score   (accuracy)
	1.01s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	Ensemble Weights: {'NeuralNetFastAI': 0.636, 'CatBoost': 0.273, 'LightGBMXT': 0.091}
	0.8603	 = Validation score   (accuracy)
	0.06s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 39.58s ... Best model: WeightedEnsemble_L2 | Estimated inference throughput: 11931.7 rows/s (179 batch size)
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels\ag-20241104_125458")

In [145]:
prediction = predictor.predict(test_df)

In [146]:
predictor.feature_importance(train_df)

Computing feature importance via permutation shuffling for 10 features using 891 rows with 5 shuffle sets...
	2.42s	= Expected runtime (0.48s per shuffle set)
	0.86s	= Actual runtime (Completed 5 of 5 shuffle sets)

          importance    stddev   p_value  n  p99_high   p99_low
Sex         0.198653  0.011957  0.000002  5  0.223273  0.174034
Age         0.058586  0.004078  0.000003  5  0.066982  0.050190
Ticket      0.048260  0.006447  0.000037  5  0.061536  0.034985
Pclass      0.043996  0.006065  0.000042  5  0.056483  0.031508
Fare        0.023569  0.002861  0.000026  5  0.029461  0.017677
Embarked    0.016162  0.003936  0.000391  5  0.024266  0.008057
Cabin_no    0.012121  0.004303  0.001623  5  0.020981  0.003261
Cabin       0.011223  0.002510  0.000281  5  0.016391  0.006056
SibSp       0.008081  0.003012  0.001941  5  0.014282  0.001880
Parch       0.005836  0.004229  0.018365  5  0.014544 -0.002872

In [147]:
submission = pd.read_csv('../submissions/sample_submission.csv' , index_col = 'PassengerId')
submission

             Survived
PassengerId
892                 0
893                 1
894                 0
895                 0
896                 1
...               ...
1305                0
1306                1
1307                0
1308                0
1309                0

[418 rows x 1 columns]

In [148]:
submission['Survived'] = prediction
submission

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 0
...               ...
1305                0
1306                1
1307                0
1308                0
1309                0

[418 rows x 1 columns]

In [149]:
submission.to_csv('../submissions/submission.csv')